<html>
<head>


        
        <!-- Title -->
        <title>ZettaNetwork - Vote</title>
        <!-- /Title -->
        
        <!-- Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <!-- /Meta Tags -->
        
        <!-- JS -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- /JS -->
        
        <!-- CSS -->
        <link rel="shortcut icon" href="../resources/faviconZetta.png" />
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <!-- /CSS -->
        
    
        

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
  var locations = ["http://minecraftservers.org/vote/222689","http://www.minestatus.net/130365-the-zetta-network/vote", "http://www.minecraft-index.com/34826-the-zetta-network/vote", "http://minecraft-server-list.com/server/292478/vote/", "thanks.html"];
  var currentIndex = 0;
  var len = locations.length;
  $(document).ready(function(){
    $(':button').click(function() {
        currentIndex = this.value == "Next" ? 
                currentIndex < len - 1 ? ++currentIndex : len - 1 : 
                currentIndex > 0 ? --currentIndex : 0;
        $('#frame').attr('src', locations[currentIndex]);
    });
  });
</script>
</head>
<body style="background-color: #1B1B1B;">
<a href="../">
<input type = "button" class="btn btn-primary" value = "Home" style="margin-top: 10px; margin-left: 10px;">
</a>
<div style="margin-left: auto; margin-right: auto; text-align: center; margin-top: -2%;">
<input type = "button" class="btn btn-primary" value = "Previous">  &nbsp;  <input type = "button" class="btn btn-primary" value = "Next">
</div>
<br />
<div style="margin-left: auto; margin-right: auto; text-align: center;"> 
<iframe id="frame" frameborder="0" allowtransparency="true" style="width: 96%; height: 87%; margin-left: auto; margin-right: auto; margin-top: -0.6%" src="http://minecraftservers.org/vote/222689"></iframe>
</div>

</body>
</html>
