<html>
    <head>
        <title>BreakMC Network </title>
        <!-- <link rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css"> -->
        <script src="/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/stats.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script> 
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
</script>
    </head>
    <body>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    
                    <!--
                        Sidebar logo
                    -->
                    <li class="sidebar-brand">
                        <a href="/home">
                        <img src="/resources/image/icon.png" width="220px" style="padding-top: 23px;" class="center">
                        </a>
                    </li>
                    
                    <!--
                        Sidebar links
                    -->
                    <li class="container center">
                        <a href="/home" style="padding-top: 30px;">
                        <i class="fa fa-home"></i> <b>Home</a>
                    </li>
                    <li class="container center">
                        <a href="/stats">
                        <i class="fa fa-user"></i> <b>Profile</a>
                    </li>
                    <li class="container center">
                        <a href="/store">
                        <i class="fa fa-shopping-cart"></i> <b>Store</a>
                    </li>
                    <li class="container center">
                        <a href="/forum"><i class="fa fa-paper-plane"></i> Forum</a>
                    </li>
                    <li class="container center">
                        <a href="/servers">
                        <i class="fa fa-server"></i> <b>Servers</a>
                    </li>
                    <li class="container center">
                        <a href="/tickets"><i class="fa fa-ticket"></i> Tickets</a>
                    </li>
                    <li class="container center">
                        <a href="/apply">
                        <i class="fa fa-pencil"></i> <b>Apply</a>
                    </li>
                    <li class="container center">
                        <a href="/news">
                        <i class="fa fa-newspaper-o"></i> <b>News</a>
                    </li>
                    <li class="container center">
                        <a href="/logout"><i class="fa fa-sign-out"></i> <b>Logout</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            
            <!-- Page Content -->
            <div id="page-content-wrapper">
                {{{body}}}
            </div>
        </body>
    </html>