<!-- 
    Menu button 
-->
<div id="page-content-wrapper">
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
    <!-- <link rel="stylesheet" type="text/css" href="/css/login.css"> -->
                <link rel="stylesheet" type="text/css" href="/css/main.css">
<div class="container">
    <div class="push-down center">
        <header class="main-content container">
                <h1>Applications</h1>
                <br>
                <font size="6" color="#87AAB1">Click a button to start writing an application.</font>
                <br>
                <br>
                    <img src="/resources/image/ytuber.png" width="120px;" style="margin-right:30px;" onclick="youtube()">
                    <img src="/resources/image/moderator.png" width="120px" onclick="moderator()">
                <br>
                <br>
                <div id="youtuber" style="display: none">
                <!-- <div id="youtuber"> -->
                    <form action="/newApp" method="POST">
                        <div style="display: inline-block">
                        <h3 style="color: #BA0006; padding-bottom: 4px;">YouTuber App Requirements:</h3>
                        <ul>1,000 Subscribers.</ul>
                        <ul>1 video uploaded on any of our servers.</ul>
                        <ul>At least 300 views on the above video.</ul>
                        </div>

                        <div style="display: inline-block; float:right">
                        <h3 style="color: #C00002; padding-bottom: 4px;"><b>YouTuber+</b> App Requirements:</h3>
                        <ul>3,000 Subscribers.</ul>
                        <ul>3 videos uploaded on any of our servers.</ul>
                        <ul>At least 800 views on the above videos.</ul>
                        </div>

                        <br>
                        <br>
                        <br>

                        <b style="color: #C0BFBA">Player</b>: {{user}}
                        <input style="display: none" name="type" value="youtube">
                        <input style="display: none" name="code" value="{{code}}"><br><br>
                        <input name="channel" placeholder="Channel Link"> <br><br>
                        <input name="link" placeholder="BreakMC Video(s)"><br><br>
                        <input type="submit">
                    </form>
                </div>
                <div id="moderator" style="display:none;">
                    <form action="/newApp" method="POST" >
                        <b style="color: #C0BFBA">Player</b>: {{user}}<br>
                        <br>
                        <input style="display: none" name="code" value="{{code}}">
                        <input style="display: none" name="type" value="moderator"><br><br>
                        Server:<br> <select name="server">
                          <option value="AdvancedPvP" selected>AdvancedPvP</option>
                          <option value="EliteKits">EliteKits</option>
                          <option value="PracticePots">PracticePots</option>
                          <option value="MC-HCF">MCHCF</option>
                        </select><br><br>
                        Age:<br> <input type="number" name="age" min="14" max="100"><br><br>
                        Timezone:<br> <input name="timezone"><br><br>
                        Skype: <br><input name="skype"><br><br>
                        Activity (Hours per day):<br> <input type="number" name="activity" min="1" max="24" value="Hours per day"><br><br>
                        Experience: <br> <textarea name="experience"></textarea><br><br>
                        Aditional Information: <br> <textarea name="info"></textarea><br><br>
                        <input type="submit" style="text-align: left;">
                    </form>
                </div>
            </header>
        </div>
    </div> 
</div>
</div>
<style>
input,input[type="number"], textarea, select, button {
  width : 100%;
  margin: 3px;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}
    ::-webkit-input-placeholder {
       color: #40453F;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #40453F;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #40453F;  
    }

    :-ms-input-placeholder {  
       color: #40453F;  
    }

    img {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        opacity: 1; 
    }

    img:hover {
        opacity: 0.5; 
        cursor: pointer;
    }
    #youtuber, #moderator {
        text-align: left;
        color: #fff;
    }
</style>

<!--
    JQuery
-->
<script>
yt = false;
mod = false;
function youtube(){
    if(yt == false){
        $( '#moderator' ).fadeOut( "fast" )
        $( "#youtuber" ).fadeIn( "slow" );
        yt = true;
        mod = false;
    } else {
        $('#youtuber').fadeOut( "slow" )
        yt = false;
    }
}

function moderator(){
    if(mod == false){
        $( '#youtuber' ).fadeOut( "fast" )
        $( "#moderator" ).fadeIn( "slow" );
        mod = true;
        yt = false;
    } else {
        $('#moderator').fadeOut( "slow" )
        mod = false;
    }
}

$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>