<!-- 
    Menu button 
-->
<div id="page-content-wrapper">
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
    <!-- <link rel="stylesheet" type="text/css" href="/css/login.css"> -->
                <link rel="stylesheet" type="text/css" href="/css/main.css">
<div class="container">
    <div class="push-down center">
        <header class="main-content container">
            <img src="/resources/image/header.jpg" style="width:100%">
            <h1>BreakMC</h1>
            <font size="6" color="#87AAB1"><i>The</i> Place To PvP</font>
            <br>

            <h2 style="text-align: left">PvP</h3>
            <p style="font-size: 20px;" class="info">
            Our server is built upon one key element - PvP. Our gamemodes are created to fit the needs of all Minecraft PvPers! Our first priority will always be to ensure you get the most fun, exciting, and exhilarating experience! Check out our vast array of servers here!
            </p>

            <br>

            <h2 style="text-align: left">Community</h3>
            <p style="font-size: 20px;" class="info">
            BreakMC prides itself in its exceptional community. Our "No Tolerance" policy will ensure you're getting a safe, enjoyable experience on our network. The forums are an incredible place to learn about us, and make new friends whilst discussing topics that interest you! Announcements will be made, and feedback will be taken over here on the forums.
            </p> 
            <br>
            <br>
            
            <!-- <h3>Register in game by using: <code>/register (password)</code></h3> -->
            <br>
        </header>
    </div>
      
    </div> 
</div>
</div>
            <center>
                <p>Website Created by: <a href="http://codeluca.com">CodeLuca ©</a></p>
            </center>
            <br>

<!--
    JQuery
-->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>