            <!-- 
                Menu button 
            -->
            <div id="page-content-wrapper">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
                <!-- <link rel="stylesheet" type="text/css" href="/css/login.css"> -->
                            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <div class="container">
                <div class="push-down center">
                    <header class="main-content container">
                        <h1>Join our growing community!</h1>
                        <br>
                        <p style="font-size: 20px;">
                           <b>Welcome to the BreakMC Site.</b> Log on to see your stats, talk to others on the forums and much more!
                        </p>
                        
                        <br>
                        
                        <h3>Register in game by using: <code>/register (password)</code></h3>
                        <br>
                        <h3 style="color: #BB0900">{{err}}</h3><br>
                        <form action="/login" method="post" class="center">
                        <input type="text" name="username" placeholder="Username"><br><br>
                        <input type="password" name="password" placeholder="Password"><br><br>
                        <input type="submit" style="width: 30%;">
                        </form>
                    </header>
                </div>
                  
                </div> 
            </div>
            </div>

            <center>
                <p>Website Created by: <a href="http://codeluca.com">CodeLuca ©</a></p>
            </center>
            
            <!--
                JQuery
            -->
            <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
            </script>