<!-- 
    Menu button 
-->
<div id="page-content-wrapper">
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
    <!-- <link rel="stylesheet" type="text/css" href="/css/login.css"> -->
                <link rel="stylesheet" type="text/css" href="/css/main.css">
<div class="container">
    <div class="push-down center">
        <header class="main-content container">
            <img src="/resources/image/header.jpg" style="width:100%">
            <h1>BreakMC Servers</h1>
            <font size="6" color="#87AAB1">Choose from some of our <i>awesome</i> servers!</font>
            <br>
            <br>
            <h2 style="text-align: left"><img style="margin-left:-50px;"src="/resources/image/apvp.png"></h3>
            <p style="font-size: 20px;" class="info">
            AdvancedPvP is a SoupPvP server in which mushroom soup heals your hearts! Battle with the best of the best, track your enemies, create a team and rise to the top on AdvancedPvP.com!
            </p>

            <br>

            <h2 style="text-align: left">
            <img style="margin-left:-73px;"src="/resources/image/ekits.png"></h3>
            <p style="font-size: 20px;" class="info">
            There's no better place to practice SoupPvP than EliteKits! Our awesome, unique kits will provide for a competitive PvP experience! Enter 1vs1's, get the highest stats, win events, and become the best PvPer around on EliteKits.net!
            </p>

            <br>

            <h2 style="text-align: left">
            <img style="margin-left:-45px;"src="/resources/image/ppots.png"></h3>
            <p style="font-size: 20px;" class="info">
            PotionPvP? Say no more. PracticePots is a balanced, fun, competitive PotionPvP Practice Server. Boasting an incredible 1vs1 system, fun events, an ELO system, and FFA Arenas; PracticePots.com is THE place for PotionPvP!
            </p>
            
            <br>

            <h2 style="text-align: left">
            <img style="margin-left:-130px;"src="/resources/image/mchcf.png"></h3>
            <p style="font-size: 20px;" class="info">
            If you like Hardcore Factions, MCHCF is for you. Cleanly programmed, user-friendly, and accompanied by an amazing staff team MCHCF is the ultimate Hardcore Factions server! Capture KOTHs, raid, survive and more on MCHCF.com!
            </p>
            
            <br>

            <h2 style="text-align: left">
            <img style="margin-left:-85px;"src="/resources/image/dban.png"></h3>
            <p style="font-size: 20px;" class="info">
            You've never seen anything like it. Deathban is a gamemode completely unique to The BreakMC Network. Gold is the only way to break blocks, and mobs are the only way to heal. Give it a try and we guarantee you'll have one of the most Hardcore Minecraft experiences around on Deathban.net!
            </p>
            
            <br>

            <h2 style="text-align: left">
            <img style="margin-left:-65px;"src="/resources/image/apots.png"></h3>
            <p style="font-size: 20px;" class="info">
            Top Secret! More information coming soon!
            </p>
            
            <br>
            
            <br>
        </header>
    </div>
      
    </div> 
</div>
</div>


<!--
    JQuery
-->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>