<!-- 
    Menu button 
-->
<div id="page-content-wrapper">
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
    <!-- <link rel="stylesheet" type="text/css" href="/css/login.css"> -->
                <link rel="stylesheet" type="text/css" href="/css/main.css">
<div class="container">
    <div class="push-down center">
        <header class="main-content container">
            <img src="/resources/image/header.jpg" style="width:100%">
            <h1>BreakMC</h1>
            <font size="6" color="#87AAB1">Staff List</font>
            <br>

            <h2 style="text-align: left">AdvancedPvP</h3>
            <p style="font-size: 20px;" class="info">
                <h3 style="text-align: left; margin-bottom: 5px;">Owners and Partners</h3>
                <p><b>Owner:</b> SasukeGabe</p>
                <p><b>Co-Owner:</b> Young</p>
                <p><b>Partner:</b> TheDiamondBlock</p>
                <br>
                <h3 style="text-align: left; margin-bottom: 5px;">Admins</h3>
                <p><b>Server-Admin:</b> Autrii</p>
                <p><b>Admin:</b> Tiimothy</p>
                <p><b>Admin:</b> Hypa</p>
                <p><b>Admin:</b> Swirls</p>
                <p><b>EU Admin:</b> BlueBae</p>
                <br>
                <h3 style="text-align: left; margin-bottom: 5px;">Developers</h3>
                <p><b>Developer:</b> GetBaked</p>
                <p><b>Net Manager:</b> ImStillNetworki</p>
                <p><b>Web Manager & Developer:</b> CodeLuca (lucaspeedstack)</p>
                <br>
                <h3 style="text-align: left; margin-bottom: 5px;">Moderators</h3>
                <p><b>Mod:</b> GetBaked</p>
                <p><b>Mod:</b> ExtraSaltyy</p>
                <p><b>Mod:</b> FuzeTnT</p>
                <p><b>Mod:</b> MaxxiGod</p>
                <p><b>Mod:</b> unicornleon</p>
                <p><b>Mod:</b> Illegalize</p>
                <p><b>Mod:</b> lmages</p>
                <p><b>Mod:</b> Crowhart</p>
                </p>
            <br>

            <!-- <h2 style="text-align: left">Moderators</h3>
            <p style="font-size: 20px;" class="info">
                <h3 style="text-align: left; margin-bottom: 5px;">Owners and Partners</h3>
                <p><b>Owner:</b> SasukeGabe</p>
                <p><b>Co-Owner:</b> Young</p>
                <p><b>Partner:</b> TheDiamondBlock</p>
                <br>
                <h3 style="text-align: left; margin-bottom: 5px;">Administrators</h3>
                <p><b>Server-Admin:</b> Autrii</p>
                <p><b>Admin:</b> Tiimothy</p>
                <p><b>Admin:</b> Hypa</p>
                <p><b>Admin:</b> Swirls</p>
                <p><b>EU Admin:</b> BlueBae</p>
                <br>
                <h3 style="text-align: left; margin-bottom: 5px;">Developers</h3>
                <p><b>Developer:</b> GetBaked</p>
                <p><b>Net Manager:</b> ImStillNetworki</p>
                <p><b>Web Manager & Developer:</b> CodeLuca (lucaspeedstack)</p>
            </p> -->


            <br>
            <br>
            
            <!-- <h3>Register in game by using: <code>/register (password)</code></h3> -->
            <br>
        </header>
    </div>
      
    </div> 
</div>
</div>
            <center>
                <p>Website Created by: <a href="http://codeluca.com">CodeLuca ©</a></p>
            </center>
<br>
<!--
    JQuery
-->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>