<link rel="stylesheet" type="text/css" href="/css/main.css">
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
<div class="container">
    <div class="push-down center">
        <header>
            <!--May need Php to determine the avatar-->
            <img src="https://mcapi.ca/avatar/2d/{{name}}" alt="">
            <!--May need Php to determine the name-->
            <h1>{{name}}</h1>
            <!--May need Php to determine the rank-->
            <h2>Rank: <a href="#">{{rank}}</a></h2>
        </header>
        <section class="tabs container">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href=".tab1"><h4>AdvPvP</h4></a>
                    </li>
                    <li>
                        <a href=".tab2"><h4>EliteKits</h4></a>
                    </li>
                    <li>
                        <a href=".tab3"><h4>Pots</h4></a>
                    </li>
                </ul>
            </div>
            <section class="tab-content active tab1">
                <p>
                AdvancedPvP is a unique take on TeamsPvP with ranks, kits and more! This is our flagship server and is loved by all our players!
                </p>
            </section>
            <section class="tab-content hide tab2">
                <p>EliteKits is contantly changing with frequent updates. With loads of maps and kits to choose from, you wont get bored here.</p>
            </section>
            <section class="tab-content hide tab3">
                <p>
                    PracticePots is our newest server but is different to normal PracticePots servers. We have so many cool features that you should come and check out!
                </p>
            </section>
        </section>
        <div class="main-content container">
            <section class="recent-posts">
                <h2>Forum Activity</h2>
                <!--May need Php to determine the amount of posts-->
                <h4>Total posts: {{postAmount}}</h4>
                <br>
                {{#each recent}}
                <li>
                    <p>
                    </p>
                </li>
                {{/each}}
            </section>
            <section class="stat active tab1">
                <h2>Advanced Stats</h2>
                <h4>Coming Very Soon!</h4>
            </section>
            <section class="stat hide tab2">
                <h2>EliteKits Stats</h2>
                <h4>Coming Very Soon!</h4>
            </section>
            <section class="stat hide tab3">
                <h2>PracticePots Stats</h2>
                <h4>Coming Very Soon!</h4>
            </section>
            <!-- <section class="stat active tab1">
                <h2>Factions Stats</h2>
                <h4>Kills: 18</h4>
                <h4>Deaths: 3</h4>
                <h4>Hours played: 0.4</h4>
            </section>
            <section class="stat hide tab2">
                <h2>Prison Stats</h2>
                <h4>Kills: 18</h4>
                <h4>Deaths: 3</h4>
                <h4>Hours played: 0.4</h4>
            </section>
            <section class="stat hide tab3">
                <h2>Global Stats</h2>
                <h4>Kills: 18</h4>
                <h4>Deaths: 3</h4>
                <h4>Hours played: 0.4</h4>
            </section> -->
        </div>
    </div>
</div>
</div>
<!--
                JQuery
-->
<script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
</script>
<script>
            $(document).ready(function() {
                $('.nav-tabs > li > a').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                //get displaying tab content jQuery selector
                var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');
                //find actived navigation and remove 'active' css
                var actived_nav = $('.nav-tabs > li.active');
                actived_nav.removeClass('active');
                //add 'active' css into clicked navigation
                $(this).parents('li').addClass('active');
                //hide displaying tab content
                $(active_tab_selector).removeClass('active');
                $(active_tab_selector).addClass('hide');
                //show target tab content
                var target_tab_selector = $(this).attr('href');
                $(target_tab_selector).removeClass('hide');
                $(target_tab_selector).addClass('active');
                });
            });
</script>
</body>
