/*============================
=======MADE BY Shuffzco=======
=======Do not touch below=====
============================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{height:auto;margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;outline:none;-webkit-font-smoothing:antialiased;font-smoothing:antialiased-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

body{font-family:Open sans,Helvitca,Arial;background:#222;overflow-x:hidden}

::selection{background: #F9690E; color: white}
b,strong{font-weight:700}
h1{font-size:3.6em;font-weight:600;color: #F9690E;}
h2{font-size:1.8em;font-weight:400;color: #ddd;margin-bottom: 10px;}
h3{font-size:1.5em;font-weight:400;color: #FEB407;}
h4{font-size:1.4em;font-weight:400;color: #ddd}
p{font-size:1.1em;color: #ddd;font-weight: 400;margin-top: 20px;}
li{list-style:none}
a{color:#F9690E;text-decoration:none;}
a:hover{transition:all ease .6s;opacity: 0.5}
footer{clear:both;text-align: center;padding-top: 20px;padding-bottom: 20px;font-size: 0.8em;}
footer a{color: #666;}
footer a:hover{color: #dcdcdc}
input{cursor: pointer; padding-left: 12px; padding-right:12px; height: 3em;margin:20px 10px;width: 25%; background: none;border: 2px #ddd solid;color: #F9690E;font-size: 1em;}
input[type="text"]{width:25%;}
textarea{ padding-top: 12px; padding-left: 12px; padding-right:12px; height: 3em;margin:20px 10px; background: none;border: 2px #ddd solid;color: #F9690E;font-size: 1em; width: 100%; height: 30%}
.container{width: 80%;margin: 0 auto;}
.container h2 a{color: #FEB407;}
.container h2 a:hover{color: #F9690E; opacity: 1}

img {
  padding-bottom: 10px;
}

.center{display: block;text-align: center;margin: 0 auto}
.main-content{margin-top: 10px}
.main-content h2{
    color: #F9690E;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd
}
.main-content p{text-align: left;}
.recent-posts, .stats{
    width: 49%;
    margin: 0.4%;
    float: left;
    height: auto;
    display: block
}

/*Don't edit above*/

/*
    Header section
*/
header input:focus, textarea:focus {outline: none;}
header input:nth-child(3){cursor: pointer}
header input[type="submit"]:hover{
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
background: #ddd;
color: #222
}
/*End*/

/*  
    Tab area
*/
.comment {
  padding-top: 3%;
  color: #fff;
}
.player {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  float: center;
  color: #DFAB00;
  margin-bottom: 1%;
  margin-left: 3%;
  display: block;
  display: inline-block;
  background: #404040
}
.viewThread {
  height: 600px;
  overflow:auto;
  display: block;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 13px;
  background: #313131;
  width: 80%;
}
.tabs li{
    float: left;
    display: inline-block;
    width: 31%;
    margin: 30px 1.1%;
}
.nav {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
}
.nav h4 {color: #F9690E;}
.nav > li > a {
  display: block;
}
.nav-tabs{
  *zoom: 1;
}
.nav-tabs:before,
.nav-tabs:after {
  display: table;
  content: "";
}
.nav-tabs:after {
  clear: both;
}
.nav-tabs > li {
  float: left;
}
.nav-tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  color: #FEB407;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #222;
  cursor: default;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
li {
  line-height: 18px;
}
.tab-content.active{
    display: block;
}
.tab-content.hide{
    display: none;
}
/*End*/


/*
    Table
*/
.table-sml, .table-med, table-lrg{
    margin: auto auto 50px auto;
    color: #4f5a65;
}
.table-sml h2, .table-med h2, table-lrg h2{
    color: #1978d4; 
    margin: 20px auto 10px auto;
    text-align: center
}
.table-sml table{
    width: 60%;
    margin: 0 auto;
}
.table-sml th{
    height: 40px;
    width: 30%;
    font-size: 1em;
    border-bottom: 2px solid #F9690E;
    padding-bottom: 1em;
}
.table-sml table td{
    position: relative;
    top: 20px;
    padding-bottom: 0.7em;
    color: #ddd;
    border: 1px solid transparent
    -webkit-border: 1px solid transparent;
}
/*End*/



/*Responsive things below*/

/*
    Phone up to tablet
*/
@media(max-width:768px) {
.body{
    overflow-x: hidden;
    }
    input{height: 3em;margin-top: 30px;width: 60%;
    }
    .container{
    width: 95%;
    }
.recent-posts, .stats{
    width: 100%;
    float: left;
    }
.small-para{
        text-align: center
    }
.small-para p{
        margin: 8% auto;
    }   
    
.table-sml table{
    text-align: left;
    width: 90%
    }
}

/*
    Small monitor
*/
@media(min-width:769px) and (max-width:1080px){
    input{width: 60%;
    }
}