html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{height:auto;margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;outline:none;-webkit-font-smoothing:antialiased;font-smoothing:antialiased-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
b,strong{font-weight:700}
h1{font-size:3.6em;font-weight:600;color: #00B3FF;}
h2{font-size:1.8em;font-weight:400;color: #0080FF;margin-bottom: 10px;}
h3{font-size:1.5em;font-weight:400;color: #0080FF;}
h4{font-size:1.4em;font-weight:400;color: #ddd}
p{font-size:1.1em;color: white;font-weight: 400;margin-top: 20px}
li{list-style:none}
a{color:#F9690E;text-decoration:none;}
a:hover{transition:all ease .6s;opacity: 0.5}
footer{clear:both;text-align: center;padding-top: 20px;padding-bottom: 20px;font-size: 0.8em;}
footer a{color: #666;}
footer a:hover{color: #dcdcdc}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}





body{font-family:Open sans,Helvitca,Arial;background:#222;overflow-x:hidden}
.container{width: 80%;margin: 0 auto;}


.center{display: block;text-align: center;margin: 0 auto}
.container h2 a{color: #00AAFF;}


/*
This comment is for the h2 links which may take you to other pages.

.container h2 a:hover{color: #F9690E; opacity: 1}

*/
.main-content{margin-top: 60px}
.tabs li{
    float: left;
    display: inline-block;
    width: 31%;
    margin: 30px 1.1%;
}


/*================
=======Tabs=======
================*/
/** Start: to style navigation tab **/
.nav {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
}

.nav h4 {color: #0080FF;}

.nav > li > a {
  display: block;
}

.nav-tabs{
  *zoom: 1;
}

.nav-tabs:before,
.nav-tabs:after {
  display: table;
  content: "";
}

.nav-tabs:after {
  clear: both;
}

.nav-tabs > li {
  float: left;
}

.nav-tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  color: #FEB407;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #222;
  cursor: default;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

li {
  line-height: 18px;
}

.stat.active{
    display: block;
}

.stat.hide{
    display: none;
}

.tab-content.active{
    display: block;
}

.tab-content.hide{
    display: none;
}

/** End: to style navigation tab **/

.vis {
  display:block;  
}

.invis {
  display:none;
}

.main-content h2{
    color: #58CDB3;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd
}
.main-content p{
    text-align: left;
    opacity: .7;
}

.recent-posts {
  display: block;
}

.recent-posts, .stat{
    width: 49%;
    margin: 0.4%;
    float: left;
    height: auto;

}

/*==================
=======Tables=======
==================*/
.table-sml, .table-med, table-lrg{
    margin: auto auto 50px auto;
    color: #4f5a65;
}
.table-sml h2, .table-med h2, table-lrg h2{
    color: #1978d4; 
    margin: 20px auto 10px auto;
    text-align: center
}

.table-sml table{
    width: 60%;
    margin: 0 auto;
}
.table-sml th{
    height: 40px;
    width: 30%;
    font-size: 1em;
    border-bottom: 2px solid #F9690E;
    padding-bottom: 1em;
}
.table-sml table td{
    position: relative;
    top: 20px;
    padding-bottom: 0.7em;
    color: #ddd;
    border: 1px solid transparent
}

@media(max-width:768px) {
.body{
    overflow-x: hidden;
}
.container{
    width: 95%;
}
.recent-posts, .stats{
    width: 100%;
    float: left;
    }
.small-para{
        text-align: center
    }
.small-para p{
        margin: 8% auto;
    }   
    
.table-sml table{
    text-align: left;
    width: 90%
    }
}