/*

    Custom BreakMC Styles ©Xertol 2015.

*/
.afterscroll {
}
video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(bg.png) no-repeat;
background-size: cover;
}
@media (max-width: 1164px) {
#bgvid { display: none; }
#scrollup  { display: none; }
}
@media (max-width: 1164px) {
.text-box { display: none; }
}
@media (min-width: 1164px) {
.mobile-container{
display: none;   
}
}
@media (max-width: 1164px) {
.mobile-container{
display: block; 
}
.image-banner{
    
    display: none;

}
.afterscroll {
display: none;
}
} 
